:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('/fonts/HelveticaNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  overflow: hidden;
}

#root {
  height: 100%;
}
